.background {
  color: $color-background;
  margin: 20px 0;
  width: 100%;
  display: table;

  .container{
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20px;
    
    h1 {
    color: $yellow;
    font-family: $font-main;
    line-height: 5rem;
    margin-bottom: 0;
    padding:0;
    padding-left: 10px;
   }
    p {
      padding: 0;
      margin-top: 0; 
      padding-left: 10px;

     }
 }
}

.jumbotron {
   @include backImage('../images/fuji.jpg', 600px);
  
}