$color-btn-text: $color-background;
$color-btn-default: $color-main;
$color-btn-hot: $red;
$color-btn-cool: $blue;
$color-btn-rebecca: $purple;
$roundness: 20px 0 20px 0;


.btn {
  display: inline-block;
  text-align: center;
  cursor: pionter;
  font-family: $font-main;
  padding: 6px 12px;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  user-select: none;
  white-space: nowrap;
  color: $color-btn-text;
}

.btn-default {
  @extend .btn;
  background-color: $color-btn-default;
}
.btn-cool {
  @extend .btn;
  background-color: $color-btn-cool;
}
.btn-hot {
  @extend .btn;
  background-color: $color-btn-hot;
}
.btn-rebecca {
  @extend .btn;
  background-color: $color-btn-rebecca;
}

.grid{
  @include clearfix;
  .item{
    float: left;
    @include imagegrid(5, 1%);
  }
  img {
    display: block;
    border-radius: nth($roundness, 1);
    max-width: 100%;
  }
}

