.btn {
  display: inline-block;
  text-align: center;
  cursor: pionter;
  font-family: $font-main;
  padding: 6px 12px;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  user-select: none;
  white-space: nowrap;
}